/* footer section - start
==================================================================================================== */
.footer-section {
	padding: 25px 40px;
	border: 1px solid #85A2B9;
	>ul {
		width: 100%;
		li {
			width: 33.333%;
			font-size: 28px;
			font-style: italic;
		}
	}
}
/* footer section - end
==================================================================================================== */