/* header-section - start
==================================================================================================== */
.header-section {
	.main-manubar {
		>ul {
			>li {
				>a {
					width: 100%;
					display: block;
					font-size: 30px;
					padding: 25px 30px;
					letter-spacing: 3px;
					color: $default-color;
					font-weight: $fw-medium;
					text-transform: capitalize;
				}
				&:hover {
					>a {
						color: $pure-white;
						background-color: $default-golden;
					}
				}
			}
			>.active {
				>a {
					color: $pure-white;
					background-color: $default-golden;
				}
			}
		}
	}
}

/* sidebar menu - start
================================================== */
.mobile-menu-btn {
	top: 50px;
	right: 50px;
	opacity: 0;
	visibility: hidden;
	width: 60px;
	z-index: 999;
	height: 60px;
	font-size: 36px;
	position: fixed;
	color: $pure-white;
	text-align: center;
	border-radius: 100%;
}
.mobile-menu-btn.active {
	color: $pure-white;
	background-color: $default-golden;
	box-shadow: 0 5px 30px 1px rgba(0,0,0,0.2);
}
.sidebar-menu-wrapper {
	display: block;

	.sidebar-menu {
		top: 0;
		right: -450px;
		height: 100vh;
		z-index: 9999;
		position: fixed;
		min-width: 400px;
		max-width: 400px;
		padding: 40px 60px;
		overflow-y: scroll;
		background-color: $pure-white;
		transition: 0.6s cubic-bezier(1, 0, 0, 1);
		.mCustomScrollBox {overflow: visible!important;}
		.dismiss-btn {
			.close-btn {
				width: 40px;
				height: 40px;
				font-size: 18px;
				cursor: pointer;
				line-height: 42px;
				text-align: center;
				color: $pure-white;
				border-radius: 3px;
				background-color: $default-golden;
			}
		}

		.sidebar-title {
			font-size: 21px;
			text-transform: capitalize;
		}

		/* menu-list - start */
		.menu-list {
			>ul {
				>li {
					margin-bottom: 15px;
					&:last-child {
						margin-bottom: 0px;
					}
					>a {
						font-size: 16px;
						color: $default-color;
						&:hover {
							color: $default-golden;
							text-decoration: underline;
						}
					}
				}
			}
		}
		/* menu-list - end */

		/* contact-info - start */
		.contact-info {
			>ul {
				>li {
					font-size: 16px;
					margin-bottom: 15px;
					&:last-child {
						margin-bottom: 0px;
					}
					.icon {
						font-size: 18px;
						margin-right: 15px;
						color: $default-gold;
					}
				}
			}
		}
		/* contact-info - end */

	}

	.sidebar-menu.active {
		right: 0px;
		box-shadow: 0px 10px 55px 1px rgba(137,173,255,.35);
	}

	.overlay {
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		opacity: 0;
		z-index: 999;
		width: 100vw;
		height: 100vh;
		display: none;
		position: fixed;
		background: rgba(0, 0, 0, 0.7);
		transition: $default-transition;
	}
	.overlay.active {
		opacity: 1;
		display: block;
	}
}
.sidebar-menu::-webkit-scrollbar {width: 0px;}
/* sidebar menu - end
================================================== */

/* sticky-header - start
================================================== */
.sticky-header {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 999;
	position: fixed;
	transition: $default-transition;
	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		content: '';
		position: absolute;
		transition: $default-transition;
		background-color: rgba(255,255,255,0.3);
		box-shadow: 0 2px 6px 1px rgba(48,48,48,0.1);
	}
}
.sticky-header.stuck {
	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		position: absolute;
		background-color: red;
	}
}
/* sticky-header - end
================================================== */

/* header-section - end
==================================================================================================== */