/* home page - start
==================================================================================================== */

/* banner-section - satrt
================================================== */
.banner-section {
	width: 100%;
	height: 867px;
	overflow: hidden;
	padding-top: 60px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	.banner-title {
		.big-text {
			display: table;
			font-size: 60px;
			padding: 0px 50px;
			color: $pure-white;
			position: relative;
			letter-spacing: 5px;
			margin: 0px auto 30px;
			font-weight: $fw-regular;
			text-transform: uppercase;
			.line-1,
			.line-2 {
				top: 50%;
				height: 2px;
				width: 445px;
				position: absolute;
				transform: translateY(-50%);
				background-color: $pure-white;
				&:before {
					top: 50%;
					content: '';
					width: 10px;
					height: 10px;
					position: absolute;
					border-radius: 100%;
					transform: translateY(-50%);
					background-color: $pure-white;
				}
			}

			.line-1 {
				left: -445px;
				&:before {
					right: -1px;
				}
			}
			.line-2 {
				right: -445px;
				&:before {
					left: -1px;
				}
			}
		}
		.small-text {
			font-size: 40px;
			font-style: italic;
			color: $pure-white;
		}
	}
}
.demo-title {
	z-index: 1;
	span {
		z-index: 2;
		display: table;
		font-size: 36px;
		padding: 30px 50px;
		border-radius: 5px;
		font-style: italic;
		margin: -86px auto 0px;
		font-weight: $fw-medium;
		background-color: rgba(255,255,255,0.8);
	}
}
/* banner-section - end
================================================== */


/* location-section - start
================================================== */
.location-section {
	margin-left: -20px;
	margin-right: -20px;
	>ul {
		width: 100%;
		margin-top: -40px;
		>li {
			width: 50%;
			margin-top: 40px;
			padding: 0px 20px;
			.item-content {
				padding: 66px 40px;
				color: $pure-white;
				.item-title {
					font-size: 30px;
					color: $pure-white;
					text-align: center;
					letter-spacing: 5px;
					font-weight: $fw-medium;
				}
				p {
					font-size: 30px;
					line-height: 42px;
				}
			}
			.item-content.bg-default-skyblue {
				border: 1px solid #85A2B9;
			}
			.item-content.bg-default-gold {
				border: 1px solid #C7B498;
			}
		}
	}
}
/* location-section - end
================================================== */


/* foto-section - start
================================================== */
.foto-section {
	margin-bottom: 150px;
	>.foto-tab-nav {
		z-index: 1;
		width: 100%;
		display: flex;
		text-align: center;
		background-color: $default-silver;
		>.nav-item {
			flex: 1;
			position: relative;
			>.nav-link {
				width: 100%;
				font-size: 30px;
				color: $pure-white;
				padding: 26px 30px;
				letter-spacing: 5px;
				font-weight: $fw-medium;
				text-transform: uppercase;
				&:hover {
					background-color: $default-skyblue;
				}
			}
			>.active {
				background-color: $default-skyblue;
			}
			.collapse-btn {
				top: 50%;
				opacity: 0;
				left: 40px;
				z-index: 1;
				width: 60px;
				height: 60px;
				overflow: hidden;
				visibility: hidden;
				text-align: center;
				position: absolute;
				border-radius: 100%;
				transform: translateY(-50%);
				background-color: $pure-white;
				&:before {
					top: 0px;
					left: 0px;
					right: 0px;
					bottom: 0px;
					font-size: 30px;
					content: '\f067';
					font-weight: 500;
					line-height: 60px;
					text-align: center;
					position: absolute;
					color: $default-skyblue;
					transform: rotate(-360deg);
					transition: all .3s ease-in-out;
					font-family: "Font Awesome 5 Pro";
				}
			}
			.collapse-btn[aria-expanded=true] {
				&:before {
					content: '\f068';
					transform: rotate(0deg);
				}
			}
			.nav-link.active+.collapse-btn {
				opacity: 1;
				visibility: visible;
			}

			&:nth-child(2n+0) {
				>.nav-link {
					&:hover {
						background-color: $default-gold;
					}
				}
				>.active {
					background-color: $default-gold;
				}
				.collapse-btn {
					left: unset;
					right: 40px;
					&:before {
						color: $default-golden;
					}
				}
			}
		}
	}

	.tab-content {
		.tab-pane {
			margin-left: -20px;
			margin-right: -20px;

			.foto-gallery {
				>ul {
					width: 100%;
					display: table;
					>li {
						width: 50%;
						margin-top: 40px;
						padding-left: 20px;
						padding-right: 20px;
						>a {
							width: 100%;
							display: block;
							overflow: hidden;
							border-radius: 40px;
							border: 1px solid #85A2B9;
						}
					}
				}
			}

			.collapse-item {
				padding: 0px 20px;
				margin-top: 40px;
				.card.card-body {
					padding: 40px;
					border-radius: 0px;
					border: 1px solid #85A2B9;
					.upload-form-item {
						.input-area {
							.add-btn {
								width: 100%;
								height: 60px;
								display: block;
								font-size: 36px;
								line-height: 60px;
								color: $pure-white;
								text-align: center;
								margin-bottom: 40px;
								border-radius: 40px;
								background-color: $default-skyblue;
							}
							input[type=text] {
								font-size: 24px;
								min-height: 177px;
								color: $pure-white;
								text-align: center;
								background-color: $default-skyblue;
							}
							:-moz-placeholder {
								color: $pure-white;
							}
							::-moz-placeholder {
								color: $pure-white;
							}
							:-ms-input-placeholder {
								color: $pure-white;
							}
							::-webkit-input-placeholder {
								color: $pure-white;
							}
						}
					}
					.btn-area {
						width: 100%;
						height: 100%;
						display: flex;
						.send-btn {
							margin: auto;
							font-size: 36px;
							color: $pure-white;
							padding: 35px 90px;
							border-radius: 20px;
						}
					}
				}
			}

			.messaggi-item {
				margin-top: 40px;
				padding: 0px 20px;
				.hero-info {
					width: 50%;
					float: left;
					padding: 59px 0px;
					text-align: center;
					padding-right: 40px;
					.post-date {
						float: left;
						width: 200px;
						height: 200px;
						padding: 50px 0px;
						text-align: center;
						border-radius: 100%;
						background-color: $default-gold;
						border: 1px solid $default-golden;
						.date-text {
							line-height: 1;
							font-size: 48px;
							margin-bottom: 15px;
							display: inline-block;
							font-weight: $fw-medium;
						}
						.month-name {
							width: 100%;
							display: block;
							font-size: 36px;
							font-style: italic;
						}
					}
					.hero-name {
						width: 600px;
						display: table;
						font-size: 36px;
						margin: 0px auto;
						margin-top: 50px;
						font-style: italic;
						position: relative;
						padding-bottom: 45px;
						&:before {
							left: 0px;
							bottom: 0px;
							height: 2px;
							width: 100%;
							content: '';
							position: absolute;
							background-color: $default-gold;
						}
						&:after {
							right: -1px;
							content: '';
							width: 10px;
							bottom: -4px;
							height: 10px;
							position: absolute;
							border-radius: 100%;
							background-color: $default-gold;
						}
					}
				}
				.messaggi-content {
					width: 50%;
					float: right;
					padding: 50px;
					border-radius: 40px;
					border: 1px solid $default-gold;
					>p {
						font-size: 36px;
						line-height: 54px;
						font-style: italic;
					}
				}
				&:nth-child(2n+0) {
					.hero-info {
						float: right;
						padding-left: 40px;
						padding-right: 0px;
						.post-date {
							float: right;
						}
						.hero-name {
							&:after {
								left: -1px;
								right: unset;
							}
						}
					}
					.messaggi-content {
						float: left;
					}
				}
			}

		}
	}
}
/* foto-section - end
================================================== */


/* blog-section - start
================================================== */
.blog-section {

	.blog-item {
		padding: 40px;
		margin-top: 40px;
		border-radius: 40px;
		border: 1px solid $default-color;
		.image-container {
			margin: 20px 0px;
		}
		.blog-title {
			font-size: 36px;
			letter-spacing: 5px;
			font-weight: $fw-medium;
		}
		.select-btn {
			height: 60px;
			font-size: 30px;
			line-height: 58px;
			padding: 0px 55px;
			letter-spacing: 3px;
			border-radius: 10px;
			font-weight: $fw-medium;
			text-transform: uppercase;
			border: 1px solid $default-color;
			&:hover {
				color: $pure-white;
				background-color: $default-silver;
			}
		}
	}

	.form-container {
		margin-bottom: 150px;
		.form-item {
			.input-area {
				input[type=number] {
					width: 400px;
					font-size: 24px;
					margin: 0px 20px;
					text-align: center;
					display: inline-block;
				}
				.sub-btn,
				.add-btn {
					width: 80px;
					height: 60px;
					font-size: 24px;
					color: $pure-white;
					border-radius: 40px;
					border: 1px solid $default-color;
					background-color: $default-silver;
				}
			}
		}
	}

	.btn-area {
		width: 100%;
		height: 100%;
		display: flex;
		.send-btn {
			margin: auto;
			font-size: 36px;
			color: $pure-white;
			padding: 35px 90px;
			border-radius: 20px;
		}
	}

}
/* blog-section - end
================================================== */


/* rsvp-section - start
================================================== */
.rsvp-section {
	.switch-btns-list {
		>ul {
			>li {
				font-size: 36px;
				padding: 17px 0px;
				margin-right: 50px;
				&:last-child {
					margin-right: 0px;
				}
				.button-switch {
					margin: -17px 0px;
					margin-right: 20px;
				}
			}
		}
	}
	.select-option {
		.input-area {
			select {
				width: 120px;
			}
		}
	}
	.form-textarea {
		.input-area {
			width: 100%;
			textarea {
				min-height: 166px;
			}
		}
	}
	.btn-area {
		padding: 100px 0px;
		text-align: center;
		.send-btn {
			font-size: 36px;
			margin: 0px auto;
			color: $pure-white;
			padding: 35px 90px;
			border-radius: 20px;
		}
	}
}
/* rsvp-section - end
================================================== */

/* home page - end
==================================================================================================== */