/* ================================================== 
*	Project Name 	:  Fede
*	File 			:  Responsive CSS Base
*	Version 		:  1.0.0
*	Last change 	:  29 April 2019
*	Author 			:  ----------
*	Developer:		:  Rakibul Islam Dewan

*	css code for responsive layout To make Responsive
================================================== */

/* ==================================================
*	1 - media screen and (max-width: 1440px)
*	2 - media screen and (max-width: 1199px)
*	3 - media screen and (max-width: 991px)
*	4 - media screen and (max-width: 767px)
*	5 - media screen and (max-width: 680px)
*	6 - media screen and (max-width: 480px)
*	7 - media screen and (max-width: 320px)
================================================== */





/*  ====================================================================================================
1 - media screen and (max-width: 1440px) - start
==================================================================================================== */

@media screen and (max-width: 1440px) {

	.banner-section {
		height: 555px;
	}
	.banner-section .banner-title .big-text {
		font-size: 42px;
		margin: 0px auto 15px;
	}
	.banner-section .banner-title .small-text {
		font-size: 30px;
	}
	.banner-section .banner-title .big-text .line-1,
	.banner-section .banner-title .big-text .line-2 {
		width: 300px;
	}
	.banner-section .banner-title .big-text .line-1 {
		left: -300px
	}
	.banner-section .banner-title .big-text .line-2 {
		right: -300px;
	}

	.header-section .main-manubar > ul > li > a {
		font-size: 18px;
	}

	.footer-section > ul li {
		font-size: 20px;
	}

	.location-section > ul > li .item-content p {
		font-size: 18px;
		line-height: 28px;
	}
	.location-section > ul > li .item-content {
		padding: 50px 40px;
		color: #ffffff;
	}

	.form-item .input-title,
	.select-option .input-title,
	.form-textarea .input-title {
		font-size: 20px;
		margin-right: 50px;
	}
	.form-item .input-area,
	.select-option .input-area,
	.form-textarea .input-area {
		width: 330px;
		display: table;
	}
	.foto-section .tab-content .tab-pane .collapse-item .card.card-body .upload-form-item .input-area .add-btn {
		font-size: 20px;
	}
	.foto-section .tab-content .tab-pane .collapse-item .card.card-body .upload-form-item .input-area input[type=text] {
		font-size: 16px;
	}
	.foto-section .tab-content .tab-pane .collapse-item .card.card-body .btn-area .send-btn {
		font-size: 24px;
		padding: 35px 70px;
	}

	.foto-section .tab-content .tab-pane .messaggi-item:nth-child(2n+0) .hero-info {
		padding-left: 0px;
		padding-right: 0px;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .hero-info {
		padding: 42px 0px;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date {
		width: 160px;
		height: 160px;
		padding: 40px 0px;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date .date-text {
		font-size: 36px;
		margin-bottom: 15px;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date .month-name {
		font-size: 24px;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .hero-info .hero-name {
		width: 330px;
		display: table;
		font-size: 36px;
		margin: 0px auto;
		margin-top: 50px;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .messaggi-content > p {
		font-size: 24px;
		line-height: 36px;
	}

	.blog-section .form-container .form-item .input-area input[type=number] {
		width: 140px;
		margin: 0px 15px;
	}

	.rsvp-section .switch-btns-list > ul > li {
		font-size: 20px;
	}
	.rsvp-section .switch-btns-list > ul > li {
		margin-right: 25px;
	}

}

/* ====================================================================================================
1 - media screen and (max-width: 1440px) - end
==================================================================================================== */





/*  ====================================================================================================
2 - media screen and (max-width: 1199px) - start
==================================================================================================== */

@media screen and (max-width: 1199px) {

	body {
		padding: 15px;
	}

	.banner-section {
		height: 530px;
	}
	.banner-section .demo-title {
		display: table;
	}

	.header-section .main-manubar > ul > li > a {
		font-size: 16px;
		padding: 20px 25px;
		letter-spacing: 0px;
	}

	.footer-section {
		padding: 15px 25px;
	}
	.footer-section > ul li {
		font-size: 16px;
	}

	.location-section {
		margin-left: 0px;
		margin-right: 0px;
	}
	.location-section > ul {
		width: 100%;
		display: table;
	}
	.location-section > ul > li {
		width: 100%;
		padding: 0px;
		display: table;
		margin-top: 40px;
		text-align: center;
	}

	.form-item .input-title,
	.select-option .input-title,
	.form-textarea .input-title {
		margin: 0px;
		width: 100%;
		display: table;
		font-size: 20px;
		text-align: center;
		margin-bottom: 15px;
	}
	.form-item .input-area,
	.select-option .input-area,
	.form-textarea .input-area {
		width: 100%;
		display: table;
	}

	.foto-section .tab-content .tab-pane .messaggi-item .hero-info {
		width: 100%;
		padding: 0px;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .messaggi-content {
		width: 100%;
		padding: 40px;
		text-align: center;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date {
		float: none;
		display: table;
		margin: 0px auto 30px;
	}
	.foto-section .tab-content .tab-pane .messaggi-item:nth-child(2n+0) .hero-info .post-date {
		float: none;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .hero-info .hero-name {
		width: 100%;
		padding: 0px;
		display: table;
		font-size: 36px;
		margin: 0px auto;
		margin-bottom: 30px;
		&:after,
		&:before {
			display: none;
		}
	}
	.foto-section .tab-content .tab-pane .messaggi-item {
		margin-top: 80px;
	}

	.blog-section .blog-item .blog-title {
		font-size: 30px;
		letter-spacing: 0px;
	}
	.blog-section .blog-item .select-btn {
		height: 50px;
		font-size: 20px;
		line-height: 48px;
		padding: 0px 55px;
		letter-spacing: 0px;
	}
	.blog-section .blog-item {
		padding: 30px;
	}

	.blog-section .form-container .form-item .input-area input[type=number] {
		width: 100%;
		margin: 15px 0px;
	}
	.blog-section .btn-area .send-btn {
		font-size: 30px;
		padding: 35px 60px;
	}

	.rsvp-section .select-option .input-area select {
		width: 50%;
		display: table;
		margin: 0px auto 40px;
	}
	.rsvp-section .switch-btns-list > ul > li .button-switch {
		margin-right: 5px;
	}
	.rsvp-section .switch-btns-list > ul > li {
		margin-right: 20px;
	}
	.form-item .input-area input,
	.select-option .input-area select,
	.form-textarea .input-area textarea {
		font-size: 24px;
	}

	.select-option .input-area .nice-select {
		width: 200px;
		height: 60px;
		display: table;
		margin: 0px auto;
	}

}

/* ====================================================================================================
2 - media screen and (max-width: 1199px) - end
==================================================================================================== */





/* ====================================================================================================
3 - media screen and (max-width: 991px) - start --->>>for medium device
==================================================================================================== */

@media screen and (max-width: 991px) {
	.header-section .main-manubar > ul > li > a {
		font-size: 14px;
		padding: 15px 20px;
	}
	.banner-section .banner-title .big-text {
		width: 100%;
		padding: 0px;
		display: table;
	}
	.banner-section .banner-title .big-text .line-1,
	.banner-section .banner-title .big-text .line-2 {
		display: none;
	}
	.banner-section {
		height: auto;
		padding-top: 140px;
		padding-bottom: 120px;
		background-size: cover;
	}
	.demo-title {
		margin-bottom: 0px;
	}
	.demo-title span {
		display: table;
		margin: 0px auto;
		max-width: 310px;
		line-height: 42px;
		padding: 40px 15px;
		border-radius: 0px;
	}

	.foto-section > .foto-tab-nav > .nav-item > .nav-link {
		font-size: 24px;
		letter-spacing: 0px;
	}
	.foto-section > .foto-tab-nav > .nav-item .collapse-btn {
		left: 20px;
		width: 45px;
		height: 45px;
	}
	.foto-section > .foto-tab-nav > .nav-item .collapse-btn:before {
		font-size: 24px;
		line-height: 47px;
	}
	.foto-section > .foto-tab-nav > .nav-item:nth-child(2n+0) .collapse-btn {
		right: 20px;
	}

	.foto-section .tab-content .tab-pane .collapse-item .card.card-body .btn-area {
		width: 100%;
		display: table;
		margin-top: 60px;
		text-align: center;
	}

	.foto-section .tab-content .tab-pane {
		margin-left: 0;
		margin-right: 0;
	}

	.foto-section {
		margin-bottom: 80px;
	}

	.blog-section .blog-item .blog-title {
		font-size: 24px;
	}
	.blog-section .blog-item .select-btn {
		height: 45px;
		font-size: 16px;
		line-height: 38px;
		padding: 0px 40px;
	}

	.blog-section .form-textarea {
		margin-top: 40px;
	}
	.blog-section .btn-area {
		width: 100%;
		display: table;
		margin-top: 60px;
		text-align: center;
	}
	.rsvp-section .switch-btns-list > ul > li {
		margin: 0px;
		width: 100%;
		display: table;
		text-align: center;
		margin-bottom: 20px;
	}
	.rsvp-section .switch-btns-list > ul {
		width: 100%;
		display: table;
	}
	.rsvp-section .switch-btns-list > ul > li .button-switch {
		display: table;
		margin: 0px auto;
		float: none !important;
	}
	.rsvp-section .btn-area .send-btn {
		font-size: 24px;
		padding: 25px 50px;
	}

}

/* ====================================================================================================
3 - media screen and (max-width: 991px) - end --->>>for medium device
==================================================================================================== */





/* ====================================================================================================
4 - media screen and (max-width: 767px) - start --->>>For Mobile Device
==================================================================================================== */

@media screen and (max-width: 767px) {}

/* ====================================================================================================
4 - media screen and (max-width: 767px) - end --->>>For Mobile Device
==================================================================================================== */





/* ====================================================================================================
5 - media screen and (max-width: 680px) - start
==================================================================================================== */

@media screen and (max-width: 680px) {}

@media screen and (max-width: 580px) {
	body {
		padding: 5px;
	}

	.mobile-menu-btn {
		top: 10px;
		right: 10px;
		opacity: 1;
		width: 45px;
		height: 45px;
		font-size: 24px;
		visibility: visible;
	}
	.header-section {
		display: none;
	}

	.sidebar-menu-wrapper .sidebar-menu {
		right: -350px;
		padding: 40px;
		min-width: 320px;
		max-width: 320px;
	}
	.sidebar-menu-wrapper .sidebar-menu.active {
		right: 0px;
	}

	.banner-section .demo-title {
		font-size: 18px;
		padding: 20px 25px;
		border-radius: 0px;
	}
	.banner-section .banner-title .small-text {
		font-size: 20px;
	}
	.banner-section .banner-title .big-text {
		font-size: 24px;
		letter-spacing: 0px;
	}
	.banner-section {
		padding-top: 120px;
		padding-bottom: 80px;
	}

	.footer-section > ul li {
		width: 100%;
		display: table;
		margin-bottom: 5px;
		text-align: center !important;
		&:last-child {
			margin-bottom: 0px;
		}
	}

	.location-section > ul > li .item-content {
		padding: 50px 30px;
	}
	.location-section > ul > li .item-content p {
		font-size: 14px;
		line-height: 26px;
	}
	.location-section > ul > li .item-content .item-title {
		font-size: 30px;
		margin-bottom: 20px;
		letter-spacing: 0px;
	}

	.foto-section .tab-content .tab-pane .foto-gallery > ul > li {
		width: 100%;
		margin-top: 40px;
		padding-left: 0px;
		padding-right: 0px;
	}
	.foto-section > .foto-tab-nav {
		display: table;
	}
	.foto-section > .foto-tab-nav > .nav-item {
		width: 100%;
		display: block;
	}
	.foto-section .tab-content .tab-pane .collapse-item {
		padding: 0px;
		margin-top: 40px;
	}
	.foto-section .tab-content .tab-pane .collapse-item .card.card-body {
		padding: 20px;
	}
	.foto-section .tab-content .tab-pane .collapse-item .card.card-body .upload-form-item .input-area .add-btn {
		font-size: 16px;
	}
	.foto-section .tab-content .tab-pane .collapse-item .card.card-body .btn-area .send-btn {
		font-size: 18px;
		padding: 24px 50px;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .messaggi-content {
		padding: 20px;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .messaggi-content > p {
		font-size: 14px;
		line-height: 26px;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date .date-text {
		font-size: 30px;
		margin-bottom: 10px;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date .month-name {
		font-size: 20px;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .hero-info .hero-name {
		font-size: 30px;
	}
	.foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date {
		width: 140px;
		height: 140px;
		padding: 35px 0px;
	}
	.foto-section > .foto-tab-nav > .nav-item > .nav-link {
		font-size: 20px;
	}

	.blog-section {
		padding-left: 15px;
		padding-right: 15px;
	}
	.blog-section .blog-item {
		padding: 30px 20px;
	}
	.blog-section .btn-area .send-btn {
		font-size: 24px;
		padding: 30px 40px;
	}

	.rsvp-section {
		padding: 0px 15px;
	}

	.form-item .input-area input,
	.select-option .input-area select,
	.form-textarea .input-area textarea {
		font-size: 16px;
	}

	.blog-section .form-container {
		margin-bottom: 60px;
	}

}

/* ====================================================================================================
5 - media screen and (max-width: 680px) - end
==================================================================================================== */





/* ====================================================================================================
6 - media screen and (max-width: 480px) - start
==================================================================================================== */

@media screen and (max-width: 480px) {}

/* ====================================================================================================
6 - media screen and (max-width: 480px) - end
==================================================================================================== */





/* ====================================================================================================
7 - media screen and (max-width: 320px) - start
==================================================================================================== */

@media screen and (max-width: 320px) {

	.sidebar-menu-wrapper .sidebar-menu {
		right: -320px;
		min-width: 300px;
		max-width: 300px;
		padding: 40px 30px;
	}
	.sidebar-menu-wrapper .sidebar-menu.active {
		right: 0px;
	}

	.demo-title span {
		max-width: 100%;
	}

}

/* ====================================================================================================
7 - media screen and (max-width: 320px) - end
==================================================================================================== */