/* global area - start
==================================================================================================== */
body {
  margin: 0px;
  padding: 40px;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
  color: $default-color;
  font-family: $body-font;
  font-weight: $fw-regular;
  background-color: $pure-white;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::selection {
  color: $pure-white;
  background-color: $default-golden;
}

a,
button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-family: $heading-font;
  &:hover {text-decoration: none;}
}
button {
  margin: 0px;
  padding: 0px;
  border: none;
  background: none;
  &:focus {outline: none;}
}

img {
  height: auto;
  max-width: 100%;
}
.image-container {
  overflow: hidden;
  position: relative;
}

h1,h2,h3,h4,h5,h6 {
  color: $default-black;
  font-weight: $fw-bold;
  font-family: $heading-font;
}
strong,span,small,label,i {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  font-family: $body-font;
}
strong {
  font-weight: $fw-bold;
}

.form-item,
.select-option,
.form-textarea {
  position: relative;
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0px;
  }
  .input-title {
    float: left;
    font-size: 36px;
    margin-top: 17px;
    margin-right: 70px;
    font-weight: $fw-regular;
  }
  .input-area {
    width: 600px;
    display: table;
    input,
    textarea {
      width: 100%;
      height: 60px;
      outline: none;
      font-size: 30px;
      box-shadow: none;
      padding: 0px 30px;
      border-radius: 40px;
      border: 1px solid #85A2B9;
      transition: $default-transition;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.form-textarea {
  .input-area {
    textarea {
      width: 100%;
      padding: 30px;
      min-height: 280px;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.select-option {
  .input-area {
    .nice-select {
      float: none;
      width: 120px;
      height: 60px;
      font-size: 30px;
      line-height: 60px;
      border-radius: 50px;
      display: inline-block;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center !important;
      border: solid 1px $default-color;
      &:after {
        width: 8px;
        height: 8px;
        right: 25px;
        margin-top: -5px;
      }
      .list {
        width: 100%;
        margin-top: 5px;
        border-radius: 5px;
        >li {
          font-size: 24px;
          text-align: center;
        }
      }
    }
  }
}

/*
:-moz-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}
::-webkit-input-placeholder {}
*/

.button-switch {
  display: inline-block;
  input[type=radio] {
    height: 60px;
    width: 120px;
    appearance: none;
    position: relative;
    border-radius: 50px;
    background-color: #D3D3D3;
    border: 1px solid $default-color;
    &:focus {
      outline: none;
    }
    &:before {
      top: 1px;
      left: 1px;
      content: '';
      width: 56px;
      height: 56px;
      position: absolute;
      background: #bdc3c7;
      border-radius: 100%;
      background-color: $pure-white;
      transition: $default-transition;
    }
    &:checked {
      outline: none;
      border-color: $default-green;
      background-color: $default-green;
      &:before {
        transform: translate(60px, 0px);
      }
    }
  } 
}



/* list style settings - start 
================================================== */
.ul-li {
  >ul {
    margin: 0px;
    padding: 0px;
    display: table;
    >li {
      float: left;
      list-style: none;
      display: inline-block;
    }
  }
}

.ul-li-block {
  >ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: table;
    >li {
      width: 100%;
      display: table;
      list-style: none;
    }
  }
}

.ul-li-right {
  >ul {
    margin: 0px;
    padding: 0px;
    float: right;
    display: table;
    >li {
      float: left;
      list-style: none;
      display: inline-block;
    }
  }
}

.ul-li-center {
  >ul {
    padding: 0px;
    margin: 0 auto;
    display: table;
    >li {
      float: left;
      list-style: none;
      display: inline-block;
    }
  }
}
/* list style settings - end
================================================== */



/* padding - margin setting - start 
================================================== */
.sec-ptb-80 {padding: 80px 0px;}

.mb-15 {margin-bottom: 15px;}
.mb-30 {margin-bottom: 30px;}
.mb-40 {margin-bottom: 40px;}
.mb-60 {margin-bottom: 60px;}
/* padding - margin setting - end
================================================== */



/* custom colors - start
================================================== */
.bg-default-gold {background-color: $default-gold;}
.bg-default-red {background-color: $default-red;}
.bg-default-color {background-color: $default-color;}
.bg-default-black {background-color: $default-black;}
.bg-default-golden {background-color: $default-golden;}
.bg-default-silver {background-color: $default-silver;}
.bg-default-skyblue {background-color: $default-skyblue;}

.bg-white {background-color: $pure-white;}
.bg-black {background-color: $pure-black;}

.bg-deep-gray {background-color: $deep-gray;}
.bg-light-gray {background-color: $light-gray;}

.bg-twitter {background-color: $twitter;}
.bg-youtube {background-color: $youtube;}
.bg-facebook {background-color: $facebook;}
.bg-linkedin {background-color: $linkedin;}
.bg-pinterest {background-color: $pinterest;}
.bg-google-plus {background-color: $google-plus;}
.bg-instagram-magenta {background-color: $instagram-magenta;}
/* custom colors - end
================================================== */



/* transition - start
================================================== */
a,
button {
  transition: $default-transition;
}
/* transition - end
================================================== */
/* global area - end
==================================================================================================== */