// default colors - start
// ==================================================
$body-font: 'Roboto', sans-serif;
$heading-font: 'Roboto', sans-serif;
// default colors - end
// ==================================================

// font weight - start
// ==================================================
$fw-bold: 700;
$fw-black: 900;
$fw-medium: 500;
$fw-regular: 400;
// font weight - end
// ==================================================

// default colors - start
// ==================================================
$default-red: #FF0008;
$default-gold: #ECD3BD;
$default-color: #707070; 
$default-black: #707070;
$default-golden: #B8A789;
$default-green : #38BC57;
$default-silver: #D3D3D3;
$default-skyblue: #9ABCD7;
// default colors - end
// ==================================================

// custom colors - start
// ==================================================
$pure-white: #ffffff;
$pure-black: #000000;

$deep-gray: #f0f0f0;
$light-gray: #f7f7f7;
$rating-star: #f2b01e;

$twitter: #1da1f2;
$youtube: #ff0000;
$facebook: #3b5998;
$linkedin: #007bb5;
$pinterest: #bd081c;
$google-plus: #db4437;
$instagram-magenta: #c32aa3;

// custom colors - end
// ==================================================



// transition - start
// ==================================================
$default-transition: all .4s ease-in-out;
// transition - end
// ==================================================