/* table of content - start
==================================================================================================== */
/* ==================================================
Project Name 	:  Fede
File 			:  Responsive CSS Base
Version 		:  1.0.0
Last change 	:  29 April 2019
Author 			:  ----------
Developer:		:  Rakibul Islam Dewan
================================================== */
/* table of content - end
==================================================================================================== */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i");
/* global area - start
==================================================================================================== */
body {
  margin: 0px;
  padding: 40px;
  font-size: 14px;
  line-height: 26px;
  font-style: normal;
  color: #707070;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

::-moz-selection {
  color: #ffffff;
  background-color: #B8A789; }

::selection {
  color: #ffffff;
  background-color: #B8A789; }

a,
button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto", sans-serif; }
  a:hover,
  button:hover {
    text-decoration: none; }

button {
  margin: 0px;
  padding: 0px;
  border: none;
  background: none; }
  button:focus {
    outline: none; }

img {
  height: auto;
  max-width: 100%; }

.image-container {
  overflow: hidden;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  color: #707070;
  font-weight: 700;
  font-family: "Roboto", sans-serif; }

strong, span, small, label, i {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  font-family: "Roboto", sans-serif; }

strong {
  font-weight: 700; }

.form-item,
.select-option,
.form-textarea {
  position: relative;
  margin-bottom: 40px; }
  .form-item:last-child,
  .select-option:last-child,
  .form-textarea:last-child {
    margin-bottom: 0px; }
  .form-item .input-title,
  .select-option .input-title,
  .form-textarea .input-title {
    float: left;
    font-size: 36px;
    margin-top: 17px;
    margin-right: 70px;
    font-weight: 400; }
  .form-item .input-area,
  .select-option .input-area,
  .form-textarea .input-area {
    width: 600px;
    display: table; }
    .form-item .input-area input,
    .form-item .input-area textarea,
    .select-option .input-area input,
    .select-option .input-area textarea,
    .form-textarea .input-area input,
    .form-textarea .input-area textarea {
      width: 100%;
      height: 60px;
      outline: none;
      font-size: 30px;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding: 0px 30px;
      border-radius: 40px;
      border: 1px solid #85A2B9;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      .form-item .input-area input:focus,
      .form-item .input-area textarea:focus,
      .select-option .input-area input:focus,
      .select-option .input-area textarea:focus,
      .form-textarea .input-area input:focus,
      .form-textarea .input-area textarea:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none; }

.form-textarea .input-area textarea {
  width: 100%;
  padding: 30px;
  min-height: 280px; }
  .form-textarea .input-area textarea:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.select-option .input-area .nice-select {
  float: none;
  width: 120px;
  height: 60px;
  font-size: 30px;
  line-height: 60px;
  border-radius: 50px;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center !important;
  border: solid 1px #707070; }
  .select-option .input-area .nice-select:after {
    width: 8px;
    height: 8px;
    right: 25px;
    margin-top: -5px; }
  .select-option .input-area .nice-select .list {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px; }
    .select-option .input-area .nice-select .list > li {
      font-size: 24px;
      text-align: center; }

/*
:-moz-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}
::-webkit-input-placeholder {}
*/
.button-switch {
  display: inline-block; }
  .button-switch input[type=radio] {
    height: 60px;
    width: 120px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    border-radius: 50px;
    background-color: #D3D3D3;
    border: 1px solid #707070; }
    .button-switch input[type=radio]:focus {
      outline: none; }
    .button-switch input[type=radio]:before {
      top: 1px;
      left: 1px;
      content: '';
      width: 56px;
      height: 56px;
      position: absolute;
      background: #bdc3c7;
      border-radius: 100%;
      background-color: #ffffff;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    .button-switch input[type=radio]:checked {
      outline: none;
      border-color: #38BC57;
      background-color: #38BC57; }
      .button-switch input[type=radio]:checked:before {
        -webkit-transform: translate(60px, 0px);
        -ms-transform: translate(60px, 0px);
        transform: translate(60px, 0px); }

/* list style settings - start 
================================================== */
.ul-li > ul {
  margin: 0px;
  padding: 0px;
  display: table; }
  .ul-li > ul > li {
    float: left;
    list-style: none;
    display: inline-block; }

.ul-li-block > ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: table; }
  .ul-li-block > ul > li {
    width: 100%;
    display: table;
    list-style: none; }

.ul-li-right > ul {
  margin: 0px;
  padding: 0px;
  float: right;
  display: table; }
  .ul-li-right > ul > li {
    float: left;
    list-style: none;
    display: inline-block; }

.ul-li-center > ul {
  padding: 0px;
  margin: 0 auto;
  display: table; }
  .ul-li-center > ul > li {
    float: left;
    list-style: none;
    display: inline-block; }

/* list style settings - end
================================================== */
/* padding - margin setting - start 
================================================== */
.sec-ptb-80 {
  padding: 80px 0px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-60 {
  margin-bottom: 60px; }

/* padding - margin setting - end
================================================== */
/* custom colors - start
================================================== */
.bg-default-gold {
  background-color: #ECD3BD; }

.bg-default-red {
  background-color: #FF0008; }

.bg-default-color {
  background-color: #707070; }

.bg-default-black {
  background-color: #707070; }

.bg-default-golden {
  background-color: #B8A789; }

.bg-default-silver {
  background-color: #D3D3D3; }

.bg-default-skyblue {
  background-color: #9ABCD7; }

.bg-white {
  background-color: #ffffff; }

.bg-black {
  background-color: #000000; }

.bg-deep-gray {
  background-color: #f0f0f0; }

.bg-light-gray {
  background-color: #f7f7f7; }

.bg-twitter {
  background-color: #1da1f2; }

.bg-youtube {
  background-color: #ff0000; }

.bg-facebook {
  background-color: #3b5998; }

.bg-linkedin {
  background-color: #007bb5; }

.bg-pinterest {
  background-color: #bd081c; }

.bg-google-plus {
  background-color: #db4437; }

.bg-instagram-magenta {
  background-color: #c32aa3; }

/* custom colors - end
================================================== */
/* transition - start
================================================== */
a,
button {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

/* transition - end
================================================== */
/* global area - end
==================================================================================================== */
/* header-section - start
==================================================================================================== */
.header-section .main-manubar > ul > li > a {
  width: 100%;
  display: block;
  font-size: 30px;
  padding: 25px 30px;
  letter-spacing: 3px;
  color: #707070;
  font-weight: 500;
  text-transform: capitalize; }

.header-section .main-manubar > ul > li:hover > a {
  color: #ffffff;
  background-color: #B8A789; }

.header-section .main-manubar > ul > .active > a {
  color: #ffffff;
  background-color: #B8A789; }

/* sidebar menu - start
================================================== */
.mobile-menu-btn {
  top: 50px;
  right: 50px;
  opacity: 0;
  visibility: hidden;
  width: 60px;
  z-index: 999;
  height: 60px;
  font-size: 36px;
  position: fixed;
  color: #ffffff;
  text-align: center;
  border-radius: 100%; }

.mobile-menu-btn.active {
  color: #ffffff;
  background-color: #B8A789;
  -webkit-box-shadow: 0 5px 30px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 30px 1px rgba(0, 0, 0, 0.2); }

.sidebar-menu-wrapper {
  display: block; }
  .sidebar-menu-wrapper .sidebar-menu {
    top: 0;
    right: -450px;
    height: 100vh;
    z-index: 9999;
    position: fixed;
    min-width: 400px;
    max-width: 400px;
    padding: 40px 60px;
    overflow-y: scroll;
    background-color: #ffffff;
    -webkit-transition: 0.6s cubic-bezier(1, 0, 0, 1);
    -o-transition: 0.6s cubic-bezier(1, 0, 0, 1);
    transition: 0.6s cubic-bezier(1, 0, 0, 1);
    /* menu-list - start */
    /* menu-list - end */
    /* contact-info - start */
    /* contact-info - end */ }
    .sidebar-menu-wrapper .sidebar-menu .mCustomScrollBox {
      overflow: visible !important; }
    .sidebar-menu-wrapper .sidebar-menu .dismiss-btn .close-btn {
      width: 40px;
      height: 40px;
      font-size: 18px;
      cursor: pointer;
      line-height: 42px;
      text-align: center;
      color: #ffffff;
      border-radius: 3px;
      background-color: #B8A789; }
    .sidebar-menu-wrapper .sidebar-menu .sidebar-title {
      font-size: 21px;
      text-transform: capitalize; }
    .sidebar-menu-wrapper .sidebar-menu .menu-list > ul > li {
      margin-bottom: 15px; }
      .sidebar-menu-wrapper .sidebar-menu .menu-list > ul > li:last-child {
        margin-bottom: 0px; }
      .sidebar-menu-wrapper .sidebar-menu .menu-list > ul > li > a {
        font-size: 16px;
        color: #707070; }
        .sidebar-menu-wrapper .sidebar-menu .menu-list > ul > li > a:hover {
          color: #B8A789;
          text-decoration: underline; }
    .sidebar-menu-wrapper .sidebar-menu .contact-info > ul > li {
      font-size: 16px;
      margin-bottom: 15px; }
      .sidebar-menu-wrapper .sidebar-menu .contact-info > ul > li:last-child {
        margin-bottom: 0px; }
      .sidebar-menu-wrapper .sidebar-menu .contact-info > ul > li .icon {
        font-size: 18px;
        margin-right: 15px;
        color: #ECD3BD; }
  .sidebar-menu-wrapper .sidebar-menu.active {
    right: 0px;
    -webkit-box-shadow: 0px 10px 55px 1px rgba(137, 173, 255, 0.35);
    box-shadow: 0px 10px 55px 1px rgba(137, 173, 255, 0.35); }
  .sidebar-menu-wrapper .overlay {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .sidebar-menu-wrapper .overlay.active {
    opacity: 1;
    display: block; }

.sidebar-menu::-webkit-scrollbar {
  width: 0px; }

/* sidebar menu - end
================================================== */
/* sticky-header - start
================================================== */
.sticky-header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  position: fixed;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .sticky-header:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: '';
    position: absolute;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 2px 6px 1px rgba(48, 48, 48, 0.1);
    box-shadow: 0 2px 6px 1px rgba(48, 48, 48, 0.1); }

.sticky-header.stuck:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  position: absolute;
  background-color: red; }

/* sticky-header - end
================================================== */
/* header-section - end
==================================================================================================== */
/* footer section - start
==================================================================================================== */
.footer-section {
  padding: 25px 40px;
  border: 1px solid #85A2B9; }
  .footer-section > ul {
    width: 100%; }
    .footer-section > ul li {
      width: 33.333%;
      font-size: 28px;
      font-style: italic; }

/* footer section - end
==================================================================================================== */
/* home page - start
==================================================================================================== */
/* banner-section - satrt
================================================== */
.banner-section {
  width: 100%;
  height: 867px;
  overflow: hidden;
  padding-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }
  .banner-section .banner-title .big-text {
    display: table;
    font-size: 60px;
    padding: 0px 50px;
    color: #ffffff;
    position: relative;
    letter-spacing: 5px;
    margin: 0px auto 30px;
    font-weight: 400;
    text-transform: uppercase; }
    .banner-section .banner-title .big-text .line-1,
    .banner-section .banner-title .big-text .line-2 {
      top: 50%;
      height: 2px;
      width: 445px;
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background-color: #ffffff; }
      .banner-section .banner-title .big-text .line-1:before,
      .banner-section .banner-title .big-text .line-2:before {
        top: 50%;
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: #ffffff; }
    .banner-section .banner-title .big-text .line-1 {
      left: -445px; }
      .banner-section .banner-title .big-text .line-1:before {
        right: -1px; }
    .banner-section .banner-title .big-text .line-2 {
      right: -445px; }
      .banner-section .banner-title .big-text .line-2:before {
        left: -1px; }
  .banner-section .banner-title .small-text {
    font-size: 40px;
    font-style: italic;
    color: #ffffff; }

.demo-title {
  z-index: 1; }
  .demo-title span {
    z-index: 2;
    display: table;
    font-size: 36px;
    padding: 30px 50px;
    border-radius: 5px;
    font-style: italic;
    margin: -86px auto 0px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.8); }

/* banner-section - end
================================================== */
/* location-section - start
================================================== */
.location-section {
  margin-left: -20px;
  margin-right: -20px; }
  .location-section > ul {
    width: 100%;
    margin-top: -40px; }
    .location-section > ul > li {
      width: 50%;
      margin-top: 40px;
      padding: 0px 20px; }
      .location-section > ul > li .item-content {
        padding: 66px 40px;
        color: #ffffff; }
        .location-section > ul > li .item-content .item-title {
          font-size: 30px;
          color: #ffffff;
          text-align: center;
          letter-spacing: 5px;
          font-weight: 500; }
        .location-section > ul > li .item-content p {
          font-size: 30px;
          line-height: 42px; }
      .location-section > ul > li .item-content.bg-default-skyblue {
        border: 1px solid #85A2B9; }
      .location-section > ul > li .item-content.bg-default-gold {
        border: 1px solid #C7B498; }

/* location-section - end
================================================== */
/* foto-section - start
================================================== */
.foto-section {
  margin-bottom: 150px; }
  .foto-section > .foto-tab-nav {
    z-index: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    background-color: #D3D3D3; }
    .foto-section > .foto-tab-nav > .nav-item {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      position: relative; }
      .foto-section > .foto-tab-nav > .nav-item > .nav-link {
        width: 100%;
        font-size: 30px;
        color: #ffffff;
        padding: 26px 30px;
        letter-spacing: 5px;
        font-weight: 500;
        text-transform: uppercase; }
        .foto-section > .foto-tab-nav > .nav-item > .nav-link:hover {
          background-color: #9ABCD7; }
      .foto-section > .foto-tab-nav > .nav-item > .active {
        background-color: #9ABCD7; }
      .foto-section > .foto-tab-nav > .nav-item .collapse-btn {
        top: 50%;
        opacity: 0;
        left: 40px;
        z-index: 1;
        width: 60px;
        height: 60px;
        overflow: hidden;
        visibility: hidden;
        text-align: center;
        position: absolute;
        border-radius: 100%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: #ffffff; }
        .foto-section > .foto-tab-nav > .nav-item .collapse-btn:before {
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          font-size: 30px;
          content: '\f067';
          font-weight: 500;
          line-height: 60px;
          text-align: center;
          position: absolute;
          color: #9ABCD7;
          -webkit-transform: rotate(-360deg);
          -ms-transform: rotate(-360deg);
          transform: rotate(-360deg);
          -webkit-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          font-family: "Font Awesome 5 Pro"; }
      .foto-section > .foto-tab-nav > .nav-item .collapse-btn[aria-expanded=true]:before {
        content: '\f068';
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg); }
      .foto-section > .foto-tab-nav > .nav-item .nav-link.active + .collapse-btn {
        opacity: 1;
        visibility: visible; }
      .foto-section > .foto-tab-nav > .nav-item:nth-child(2n+0) > .nav-link:hover {
        background-color: #ECD3BD; }
      .foto-section > .foto-tab-nav > .nav-item:nth-child(2n+0) > .active {
        background-color: #ECD3BD; }
      .foto-section > .foto-tab-nav > .nav-item:nth-child(2n+0) .collapse-btn {
        left: unset;
        right: 40px; }
        .foto-section > .foto-tab-nav > .nav-item:nth-child(2n+0) .collapse-btn:before {
          color: #B8A789; }
  .foto-section .tab-content .tab-pane {
    margin-left: -20px;
    margin-right: -20px; }
    .foto-section .tab-content .tab-pane .foto-gallery > ul {
      width: 100%;
      display: table; }
      .foto-section .tab-content .tab-pane .foto-gallery > ul > li {
        width: 50%;
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px; }
        .foto-section .tab-content .tab-pane .foto-gallery > ul > li > a {
          width: 100%;
          display: block;
          overflow: hidden;
          border-radius: 40px;
          border: 1px solid #85A2B9; }
    .foto-section .tab-content .tab-pane .collapse-item {
      padding: 0px 20px;
      margin-top: 40px; }
      .foto-section .tab-content .tab-pane .collapse-item .card.card-body {
        padding: 40px;
        border-radius: 0px;
        border: 1px solid #85A2B9; }
        .foto-section .tab-content .tab-pane .collapse-item .card.card-body .upload-form-item .input-area .add-btn {
          width: 100%;
          height: 60px;
          display: block;
          font-size: 36px;
          line-height: 60px;
          color: #ffffff;
          text-align: center;
          margin-bottom: 40px;
          border-radius: 40px;
          background-color: #9ABCD7; }
        .foto-section .tab-content .tab-pane .collapse-item .card.card-body .upload-form-item .input-area input[type=text] {
          font-size: 24px;
          min-height: 177px;
          color: #ffffff;
          text-align: center;
          background-color: #9ABCD7; }
        .foto-section .tab-content .tab-pane .collapse-item .card.card-body .upload-form-item .input-area :-moz-placeholder {
          color: #ffffff; }
        .foto-section .tab-content .tab-pane .collapse-item .card.card-body .upload-form-item .input-area ::-moz-placeholder {
          color: #ffffff; }
        .foto-section .tab-content .tab-pane .collapse-item .card.card-body .upload-form-item .input-area :-ms-input-placeholder {
          color: #ffffff; }
        .foto-section .tab-content .tab-pane .collapse-item .card.card-body .upload-form-item .input-area ::-webkit-input-placeholder {
          color: #ffffff; }
        .foto-section .tab-content .tab-pane .collapse-item .card.card-body .btn-area {
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .foto-section .tab-content .tab-pane .collapse-item .card.card-body .btn-area .send-btn {
            margin: auto;
            font-size: 36px;
            color: #ffffff;
            padding: 35px 90px;
            border-radius: 20px; }
    .foto-section .tab-content .tab-pane .messaggi-item {
      margin-top: 40px;
      padding: 0px 20px; }
      .foto-section .tab-content .tab-pane .messaggi-item .hero-info {
        width: 50%;
        float: left;
        padding: 59px 0px;
        text-align: center;
        padding-right: 40px; }
        .foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date {
          float: left;
          width: 200px;
          height: 200px;
          padding: 50px 0px;
          text-align: center;
          border-radius: 100%;
          background-color: #ECD3BD;
          border: 1px solid #B8A789; }
          .foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date .date-text {
            line-height: 1;
            font-size: 48px;
            margin-bottom: 15px;
            display: inline-block;
            font-weight: 500; }
          .foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date .month-name {
            width: 100%;
            display: block;
            font-size: 36px;
            font-style: italic; }
        .foto-section .tab-content .tab-pane .messaggi-item .hero-info .hero-name {
          width: 600px;
          display: table;
          font-size: 36px;
          margin: 0px auto;
          margin-top: 50px;
          font-style: italic;
          position: relative;
          padding-bottom: 45px; }
          .foto-section .tab-content .tab-pane .messaggi-item .hero-info .hero-name:before {
            left: 0px;
            bottom: 0px;
            height: 2px;
            width: 100%;
            content: '';
            position: absolute;
            background-color: #ECD3BD; }
          .foto-section .tab-content .tab-pane .messaggi-item .hero-info .hero-name:after {
            right: -1px;
            content: '';
            width: 10px;
            bottom: -4px;
            height: 10px;
            position: absolute;
            border-radius: 100%;
            background-color: #ECD3BD; }
      .foto-section .tab-content .tab-pane .messaggi-item .messaggi-content {
        width: 50%;
        float: right;
        padding: 50px;
        border-radius: 40px;
        border: 1px solid #ECD3BD; }
        .foto-section .tab-content .tab-pane .messaggi-item .messaggi-content > p {
          font-size: 36px;
          line-height: 54px;
          font-style: italic; }
      .foto-section .tab-content .tab-pane .messaggi-item:nth-child(2n+0) .hero-info {
        float: right;
        padding-left: 40px;
        padding-right: 0px; }
        .foto-section .tab-content .tab-pane .messaggi-item:nth-child(2n+0) .hero-info .post-date {
          float: right; }
        .foto-section .tab-content .tab-pane .messaggi-item:nth-child(2n+0) .hero-info .hero-name:after {
          left: -1px;
          right: unset; }
      .foto-section .tab-content .tab-pane .messaggi-item:nth-child(2n+0) .messaggi-content {
        float: left; }

/* foto-section - end
================================================== */
/* blog-section - start
================================================== */
.blog-section .blog-item {
  padding: 40px;
  margin-top: 40px;
  border-radius: 40px;
  border: 1px solid #707070; }
  .blog-section .blog-item .image-container {
    margin: 20px 0px; }
  .blog-section .blog-item .blog-title {
    font-size: 36px;
    letter-spacing: 5px;
    font-weight: 500; }
  .blog-section .blog-item .select-btn {
    height: 60px;
    font-size: 30px;
    line-height: 58px;
    padding: 0px 55px;
    letter-spacing: 3px;
    border-radius: 10px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #707070; }
    .blog-section .blog-item .select-btn:hover {
      color: #ffffff;
      background-color: #D3D3D3; }

.blog-section .form-container {
  margin-bottom: 150px; }
  .blog-section .form-container .form-item .input-area input[type=number] {
    width: 400px;
    font-size: 24px;
    margin: 0px 20px;
    text-align: center;
    display: inline-block; }
  .blog-section .form-container .form-item .input-area .sub-btn,
  .blog-section .form-container .form-item .input-area .add-btn {
    width: 80px;
    height: 60px;
    font-size: 24px;
    color: #ffffff;
    border-radius: 40px;
    border: 1px solid #707070;
    background-color: #D3D3D3; }

.blog-section .btn-area {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .blog-section .btn-area .send-btn {
    margin: auto;
    font-size: 36px;
    color: #ffffff;
    padding: 35px 90px;
    border-radius: 20px; }

/* blog-section - end
================================================== */
/* rsvp-section - start
================================================== */
.rsvp-section .switch-btns-list > ul > li {
  font-size: 36px;
  padding: 17px 0px;
  margin-right: 50px; }
  .rsvp-section .switch-btns-list > ul > li:last-child {
    margin-right: 0px; }
  .rsvp-section .switch-btns-list > ul > li .button-switch {
    margin: -17px 0px;
    margin-right: 20px; }

.rsvp-section .select-option .input-area select {
  width: 120px; }

.rsvp-section .form-textarea .input-area {
  width: 100%; }
  .rsvp-section .form-textarea .input-area textarea {
    min-height: 166px; }

.rsvp-section .btn-area {
  padding: 100px 0px;
  text-align: center; }
  .rsvp-section .btn-area .send-btn {
    font-size: 36px;
    margin: 0px auto;
    color: #ffffff;
    padding: 35px 90px;
    border-radius: 20px; }

/* rsvp-section - end
================================================== */
/* home page - end
==================================================================================================== */
/* about page - start
==================================================================================================== */
/* about page - end
==================================================================================================== */
/* contact pages - start
==================================================================================================== */
/* contact pages - end
==================================================================================================== */
/* ================================================== 
*	Project Name 	:  Fede
*	File 			:  Responsive CSS Base
*	Version 		:  1.0.0
*	Last change 	:  29 April 2019
*	Author 			:  ----------
*	Developer:		:  Rakibul Islam Dewan

*	css code for responsive layout To make Responsive
================================================== */
/* ==================================================
*	1 - media screen and (max-width: 1440px)
*	2 - media screen and (max-width: 1199px)
*	3 - media screen and (max-width: 991px)
*	4 - media screen and (max-width: 767px)
*	5 - media screen and (max-width: 680px)
*	6 - media screen and (max-width: 480px)
*	7 - media screen and (max-width: 320px)
================================================== */
/*  ====================================================================================================
1 - media screen and (max-width: 1440px) - start
==================================================================================================== */
@media screen and (max-width: 1440px) {
  .banner-section {
    height: 555px; }
  .banner-section .banner-title .big-text {
    font-size: 42px;
    margin: 0px auto 15px; }
  .banner-section .banner-title .small-text {
    font-size: 30px; }
  .banner-section .banner-title .big-text .line-1,
  .banner-section .banner-title .big-text .line-2 {
    width: 300px; }
  .banner-section .banner-title .big-text .line-1 {
    left: -300px; }
  .banner-section .banner-title .big-text .line-2 {
    right: -300px; }
  .header-section .main-manubar > ul > li > a {
    font-size: 18px; }
  .footer-section > ul li {
    font-size: 20px; }
  .location-section > ul > li .item-content p {
    font-size: 18px;
    line-height: 28px; }
  .location-section > ul > li .item-content {
    padding: 50px 40px;
    color: #ffffff; }
  .form-item .input-title,
  .select-option .input-title,
  .form-textarea .input-title {
    font-size: 20px;
    margin-right: 50px; }
  .form-item .input-area,
  .select-option .input-area,
  .form-textarea .input-area {
    width: 330px;
    display: table; }
  .foto-section .tab-content .tab-pane .collapse-item .card.card-body .upload-form-item .input-area .add-btn {
    font-size: 20px; }
  .foto-section .tab-content .tab-pane .collapse-item .card.card-body .upload-form-item .input-area input[type=text] {
    font-size: 16px; }
  .foto-section .tab-content .tab-pane .collapse-item .card.card-body .btn-area .send-btn {
    font-size: 24px;
    padding: 35px 70px; }
  .foto-section .tab-content .tab-pane .messaggi-item:nth-child(2n+0) .hero-info {
    padding-left: 0px;
    padding-right: 0px; }
  .foto-section .tab-content .tab-pane .messaggi-item .hero-info {
    padding: 42px 0px; }
  .foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date {
    width: 160px;
    height: 160px;
    padding: 40px 0px; }
  .foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date .date-text {
    font-size: 36px;
    margin-bottom: 15px; }
  .foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date .month-name {
    font-size: 24px; }
  .foto-section .tab-content .tab-pane .messaggi-item .hero-info .hero-name {
    width: 330px;
    display: table;
    font-size: 36px;
    margin: 0px auto;
    margin-top: 50px; }
  .foto-section .tab-content .tab-pane .messaggi-item .messaggi-content > p {
    font-size: 24px;
    line-height: 36px; }
  .blog-section .form-container .form-item .input-area input[type=number] {
    width: 140px;
    margin: 0px 15px; }
  .rsvp-section .switch-btns-list > ul > li {
    font-size: 20px; }
  .rsvp-section .switch-btns-list > ul > li {
    margin-right: 25px; } }

/* ====================================================================================================
1 - media screen and (max-width: 1440px) - end
==================================================================================================== */
/*  ====================================================================================================
2 - media screen and (max-width: 1199px) - start
==================================================================================================== */
@media screen and (max-width: 1199px) {
  body {
    padding: 15px; }
  .banner-section {
    height: 530px; }
  .banner-section .demo-title {
    display: table; }
  .header-section .main-manubar > ul > li > a {
    font-size: 16px;
    padding: 20px 25px;
    letter-spacing: 0px; }
  .footer-section {
    padding: 15px 25px; }
  .footer-section > ul li {
    font-size: 16px; }
  .location-section {
    margin-left: 0px;
    margin-right: 0px; }
  .location-section > ul {
    width: 100%;
    display: table; }
  .location-section > ul > li {
    width: 100%;
    padding: 0px;
    display: table;
    margin-top: 40px;
    text-align: center; }
  .form-item .input-title,
  .select-option .input-title,
  .form-textarea .input-title {
    margin: 0px;
    width: 100%;
    display: table;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px; }
  .form-item .input-area,
  .select-option .input-area,
  .form-textarea .input-area {
    width: 100%;
    display: table; }
  .foto-section .tab-content .tab-pane .messaggi-item .hero-info {
    width: 100%;
    padding: 0px; }
  .foto-section .tab-content .tab-pane .messaggi-item .messaggi-content {
    width: 100%;
    padding: 40px;
    text-align: center; }
  .foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date {
    float: none;
    display: table;
    margin: 0px auto 30px; }
  .foto-section .tab-content .tab-pane .messaggi-item:nth-child(2n+0) .hero-info .post-date {
    float: none; }
  .foto-section .tab-content .tab-pane .messaggi-item .hero-info .hero-name {
    width: 100%;
    padding: 0px;
    display: table;
    font-size: 36px;
    margin: 0px auto;
    margin-bottom: 30px; }
    .foto-section .tab-content .tab-pane .messaggi-item .hero-info .hero-name:after, .foto-section .tab-content .tab-pane .messaggi-item .hero-info .hero-name:before {
      display: none; }
  .foto-section .tab-content .tab-pane .messaggi-item {
    margin-top: 80px; }
  .blog-section .blog-item .blog-title {
    font-size: 30px;
    letter-spacing: 0px; }
  .blog-section .blog-item .select-btn {
    height: 50px;
    font-size: 20px;
    line-height: 48px;
    padding: 0px 55px;
    letter-spacing: 0px; }
  .blog-section .blog-item {
    padding: 30px; }
  .blog-section .form-container .form-item .input-area input[type=number] {
    width: 100%;
    margin: 15px 0px; }
  .blog-section .btn-area .send-btn {
    font-size: 30px;
    padding: 35px 60px; }
  .rsvp-section .select-option .input-area select {
    width: 50%;
    display: table;
    margin: 0px auto 40px; }
  .rsvp-section .switch-btns-list > ul > li .button-switch {
    margin-right: 5px; }
  .rsvp-section .switch-btns-list > ul > li {
    margin-right: 20px; }
  .form-item .input-area input,
  .select-option .input-area select,
  .form-textarea .input-area textarea {
    font-size: 24px; }
  .select-option .input-area .nice-select {
    width: 200px;
    height: 60px;
    display: table;
    margin: 0px auto; } }

/* ====================================================================================================
2 - media screen and (max-width: 1199px) - end
==================================================================================================== */
/* ====================================================================================================
3 - media screen and (max-width: 991px) - start --->>>for medium device
==================================================================================================== */
@media screen and (max-width: 991px) {
  .header-section .main-manubar > ul > li > a {
    font-size: 14px;
    padding: 15px 20px; }
  .banner-section .banner-title .big-text {
    width: 100%;
    padding: 0px;
    display: table; }
  .banner-section .banner-title .big-text .line-1,
  .banner-section .banner-title .big-text .line-2 {
    display: none; }
  .banner-section {
    height: auto;
    padding-top: 140px;
    padding-bottom: 120px;
    background-size: cover; }
  .demo-title {
    margin-bottom: 0px; }
  .demo-title span {
    display: table;
    margin: 0px auto;
    max-width: 310px;
    line-height: 42px;
    padding: 40px 15px;
    border-radius: 0px; }
  .foto-section > .foto-tab-nav > .nav-item > .nav-link {
    font-size: 24px;
    letter-spacing: 0px; }
  .foto-section > .foto-tab-nav > .nav-item .collapse-btn {
    left: 20px;
    width: 45px;
    height: 45px; }
  .foto-section > .foto-tab-nav > .nav-item .collapse-btn:before {
    font-size: 24px;
    line-height: 47px; }
  .foto-section > .foto-tab-nav > .nav-item:nth-child(2n+0) .collapse-btn {
    right: 20px; }
  .foto-section .tab-content .tab-pane .collapse-item .card.card-body .btn-area {
    width: 100%;
    display: table;
    margin-top: 60px;
    text-align: center; }
  .foto-section .tab-content .tab-pane {
    margin-left: 0;
    margin-right: 0; }
  .foto-section {
    margin-bottom: 80px; }
  .blog-section .blog-item .blog-title {
    font-size: 24px; }
  .blog-section .blog-item .select-btn {
    height: 45px;
    font-size: 16px;
    line-height: 38px;
    padding: 0px 40px; }
  .blog-section .form-textarea {
    margin-top: 40px; }
  .blog-section .btn-area {
    width: 100%;
    display: table;
    margin-top: 60px;
    text-align: center; }
  .rsvp-section .switch-btns-list > ul > li {
    margin: 0px;
    width: 100%;
    display: table;
    text-align: center;
    margin-bottom: 20px; }
  .rsvp-section .switch-btns-list > ul {
    width: 100%;
    display: table; }
  .rsvp-section .switch-btns-list > ul > li .button-switch {
    display: table;
    margin: 0px auto;
    float: none !important; }
  .rsvp-section .btn-area .send-btn {
    font-size: 24px;
    padding: 25px 50px; } }

/* ====================================================================================================
3 - media screen and (max-width: 991px) - end --->>>for medium device
==================================================================================================== */
/* ====================================================================================================
4 - media screen and (max-width: 767px) - start --->>>For Mobile Device
==================================================================================================== */
/* ====================================================================================================
4 - media screen and (max-width: 767px) - end --->>>For Mobile Device
==================================================================================================== */
/* ====================================================================================================
5 - media screen and (max-width: 680px) - start
==================================================================================================== */
@media screen and (max-width: 580px) {
  body {
    padding: 5px; }
  .mobile-menu-btn {
    top: 10px;
    right: 10px;
    opacity: 1;
    width: 45px;
    height: 45px;
    font-size: 24px;
    visibility: visible; }
  .header-section {
    display: none; }
  .sidebar-menu-wrapper .sidebar-menu {
    right: -350px;
    padding: 40px;
    min-width: 320px;
    max-width: 320px; }
  .sidebar-menu-wrapper .sidebar-menu.active {
    right: 0px; }
  .banner-section .demo-title {
    font-size: 18px;
    padding: 20px 25px;
    border-radius: 0px; }
  .banner-section .banner-title .small-text {
    font-size: 20px; }
  .banner-section .banner-title .big-text {
    font-size: 24px;
    letter-spacing: 0px; }
  .banner-section {
    padding-top: 120px;
    padding-bottom: 80px; }
  .footer-section > ul li {
    width: 100%;
    display: table;
    margin-bottom: 5px;
    text-align: center !important; }
    .footer-section > ul li:last-child {
      margin-bottom: 0px; }
  .location-section > ul > li .item-content {
    padding: 50px 30px; }
  .location-section > ul > li .item-content p {
    font-size: 14px;
    line-height: 26px; }
  .location-section > ul > li .item-content .item-title {
    font-size: 30px;
    margin-bottom: 20px;
    letter-spacing: 0px; }
  .foto-section .tab-content .tab-pane .foto-gallery > ul > li {
    width: 100%;
    margin-top: 40px;
    padding-left: 0px;
    padding-right: 0px; }
  .foto-section > .foto-tab-nav {
    display: table; }
  .foto-section > .foto-tab-nav > .nav-item {
    width: 100%;
    display: block; }
  .foto-section .tab-content .tab-pane .collapse-item {
    padding: 0px;
    margin-top: 40px; }
  .foto-section .tab-content .tab-pane .collapse-item .card.card-body {
    padding: 20px; }
  .foto-section .tab-content .tab-pane .collapse-item .card.card-body .upload-form-item .input-area .add-btn {
    font-size: 16px; }
  .foto-section .tab-content .tab-pane .collapse-item .card.card-body .btn-area .send-btn {
    font-size: 18px;
    padding: 24px 50px; }
  .foto-section .tab-content .tab-pane .messaggi-item .messaggi-content {
    padding: 20px; }
  .foto-section .tab-content .tab-pane .messaggi-item .messaggi-content > p {
    font-size: 14px;
    line-height: 26px; }
  .foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date .date-text {
    font-size: 30px;
    margin-bottom: 10px; }
  .foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date .month-name {
    font-size: 20px; }
  .foto-section .tab-content .tab-pane .messaggi-item .hero-info .hero-name {
    font-size: 30px; }
  .foto-section .tab-content .tab-pane .messaggi-item .hero-info .post-date {
    width: 140px;
    height: 140px;
    padding: 35px 0px; }
  .foto-section > .foto-tab-nav > .nav-item > .nav-link {
    font-size: 20px; }
  .blog-section {
    padding-left: 15px;
    padding-right: 15px; }
  .blog-section .blog-item {
    padding: 30px 20px; }
  .blog-section .btn-area .send-btn {
    font-size: 24px;
    padding: 30px 40px; }
  .rsvp-section {
    padding: 0px 15px; }
  .form-item .input-area input,
  .select-option .input-area select,
  .form-textarea .input-area textarea {
    font-size: 16px; }
  .blog-section .form-container {
    margin-bottom: 60px; } }

/* ====================================================================================================
5 - media screen and (max-width: 680px) - end
==================================================================================================== */
/* ====================================================================================================
6 - media screen and (max-width: 480px) - start
==================================================================================================== */
/* ====================================================================================================
6 - media screen and (max-width: 480px) - end
==================================================================================================== */
/* ====================================================================================================
7 - media screen and (max-width: 320px) - start
==================================================================================================== */
@media screen and (max-width: 320px) {
  .sidebar-menu-wrapper .sidebar-menu {
    right: -320px;
    min-width: 300px;
    max-width: 300px;
    padding: 40px 30px; }
  .sidebar-menu-wrapper .sidebar-menu.active {
    right: 0px; }
  .demo-title span {
    max-width: 100%; } }

/* ====================================================================================================
7 - media screen and (max-width: 320px) - end
==================================================================================================== */
